{
  "presets": ["react-native"],
  "plugins": [
    "transform-decorators-legacy",
    [
      "module-resolver", {
        "root": ["./src"],
        "alias": {
          "@": "./src"
        }
      }
    ]
  ]
}
